@media only screen and (min-width: 768px) {

    .header__divider--first {
        display: flex;
}
    .header__button--additional {
        display: flex;
}
    .info__container{
        gap: 30px;
        display: flex;
        flex-direction: row;
    }
    .text__medium {
        display: flex;
}
    .info__img {
        border-radius: 7px;
        width: 50%;
        padding-right: 20px;
    }
    

}

@media only screen and (min-width: 1120px) {

    .header {
        display: none;
    }
    
    .info__top {
        display: flex;
        justify-content: space-between;
    }

    .button__main {
        display: flex;
        gap: 20px;
    }


    .header__button {
        gap:10px

    } 

    .header__button--text {
        font-family: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: #1B1C21; 
    }
    .menu__list {
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        
    }

    .menu__item {
        white-space: nowrap;
    }
    
    .menu__link--reviews {
        padding-left: 15px;
    }

    .text__full {
        display: flex;
    }
    .text__medium {
        display: none;
    }

    .info__img {
        border-radius: 7px;
        min-width: 531px;
        min-height: 307px;
        padding-right: 20px;
    }
}
